<div class="card mb-3" style="100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img class="img-responsive center-block mb-5" src="{{user.image}}"
        style="width: 400px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </div>
    <div class="col-md-6">
      <h1>{{user.name}}</h1>
      <p>{{user.email}}</p>
      <p>{{commentCount}} 已評論的餐廳</p>
      <p>{{favoritedCount}} 收藏的餐廳</p>
      <p>{{followingCount}} followings(追蹤者)</p>
      <p>{{followerCount}} followers(追隨者)</p>
      {{#ifCond user.id sessionUser}}
      <a class="btn btn-primary" href="/users/{{../user.id}}/edit">edit</a>
      {{/ifCond}}
      {{#ifCond user.id sessionUser.id}}
      {{else}}
      {{#if ../isFollowed }}
      <form action="/following/{{../user.id}}?_method=DELETE" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-danger">取消追蹤</button>
      </form>
      {{else}}
      <form action="/following/{{../user.id}}" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-primary">追蹤</button>
      </form>
      {{/if}}
      {{/ifCond}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        {{followingCount}} followings(追蹤者)
      </div>
      <ul class="d-flex flex-wrap align-items-center">
        {{#each user.Followings}}
        <li class="m-1" style="max-width: 100px; list-style-type: none;">
          <a href="/users/{{this.id}}">
            <img class="w-100" src="{{this.image}}" alt="restaurant image">
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        {{commentCount}} 已評論的餐廳
      </div>
      <ul class="d-flex flex-wrap align-items-center">
        {{#each user.commentedRestaurants}}
        <li class="m-1" style="max-width: 100px; list-style-type: none;">
          <a href="/restaurants/{{this.id}}">
            <img class="w-100" src="{{this.image}}" alt="restaurant image">
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        {{followerCount}} followers(追隨者)
      </div>
      <ul class="d-flex flex-wrap align-items-center">
        {{#each user.Followers}}
        <li class="m-1" style="max-width: 100px; list-style-type: none;">
          <a href="/users/{{this.id}}">
            <img class="w-100" src="{{this.image}}" alt="restaurant image">
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        {{favoritedCount}} 收藏的餐廳
      </div>
      <ul class="d-flex flex-wrap align-items-center">
        {{#each user.FavoritedRestaurants}}
        <li class="m-1" style="max-width: 100px; list-style-type: none;">
          <a href="/restaurants/{{this.id}}">
            <img class="w-100" src="{{this.image}}" alt="restaurant image">
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>